.container_informative-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.card_rigth-img {
  margin-right: 5px;
  min-width: 100px;
  max-width: 50%;
}

.card_rigth-img>img {
  border-radius: 7px;
  width: 100%;
}

.container_informative-card>h2>a {
  margin-top: 4px;
  font-size: 16px;
}

.container_informative-card>h2 {
  line-height: 17px;
}

@media (max-width: 890px) {
  .container_informative-card {
    display: flex;
    flex-direction: column;
  }

  .card_rigth-img {
    margin-right: 0px;
    max-width: 100%;
    width: 100%;
  }
}
