.container_informative-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.card_rigth-img {
  margin-right: 5px;
  width: 43%;
}

.card_rigth-img > img {
  border-radius: 7px;
  width: 100%;
}

.container_informative-card > h2 > a {
  font-size: 15px;
}


