.container_informative-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid blue;
  margin-bottom: 10px;
}
.card_rigth-img {
  margin-right: 5px;
  width: 30%;
}

.card_rigth-img>img {
  width: 100%;
}

.container_informative-card > h2 > a {
  font-size: 17px;
}


