.conatiner_great-card {
  display: flex;
}

.big_card-left{
  margin-bottom: 35px;
}

.block-left-card {
  padding: 20px;
  width: 50vw;
  min-width: 50vw;
}

.block-rigth-card {
  padding: 20px;
  width: 50vw;
}

.great-card-img > img {
  border-radius: 7px;
  width: 100%;
}

.great-card-title {
  margin: 8px 0;
}

.great-card-description > a{
  color: grey;
}
