<div class="conatiner_great-card">
  <div class="block-left-card">
    <div class="big_card-left" *ngFor="let l of listIformatives">
      <div class="great-card-img">
        <img src={{l.imgCover}} alt="" srcset="">
      </div>
      <h1 class="great-card-title"><a [routerLink]="['content', l.id]">{{l.title}}</a></h1>
      <div class="great-card-description"><a [routerLink]="['content', l.id]">{{l.summary}}</a></div>
    </div>
  </div>
  <div class="block-rigth-card">
    <app-informative-card>
    </app-informative-card>
  </div>
</div>
