.conatiner_great-card {
  display: flex;
}

.block-left-card {
  padding: 20px;
  width: 54vw;
}

.block-rigth-card {
  padding: 20px;
  width: 44vw;
}

.great-card-img > img {
  border-radius: 7px;
  width: 100%;
}

.great-card-title {
  margin: 8px 0;
}

.great-card-description{
  color: grey;
}
